body {
  font-size: 20px;
  font-family: "Patrick Hand", "Playpen Sans", sans-serif;
}

.hidden {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
}

#header {
  margin: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

#header.div {
  flex: 1;
}

#header.div:last-child {
  text-align: end;
}

.controls {
  background: linear-gradient(135deg, #126e82 10%, #009688 100%);
  padding: 20px;
  border-radius: 5px;
  width: 250px;
}

.control-row {
  display: flex;
  margin-bottom: 10px;
}

.control-row label {
  font-size: 16px;
  color: white;
  width: 130px;
}

.control-row input,
.control-row select,
.control-row span {
  padding: 5px 20px;
  border: 1px solid #35bdc0;
  border-radius: 9px;
  background: #083d49;
  color: white;
  width: 80px;
}

.control-row select {
  width: 120px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.control-row span {
  background-color: #77dadb;
  display: flex;
}

.control-row select {
  background: #083d49;
}

.control-row input[type="range"] {
  margin: 0;
  padding: 0;
}

.control-row button {
  flex: 1;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #023530;
  color: white;
}

.tiny {
  font-size: 10px;
  font-style: italic;
  text-align: right;
  color: #f2f2f2;
}

#math-homework-questions {
  padding: 20px;
  max-width: 800px;
}

.question {
  margin: 10px;
}

.question p {
  font-size: 20px;
}

.question-block {
  float: left;
  border: 1px solid #ddd;
  padding: .5em;
}

.question-block.simple {
  width: 15em;
}

.question-block.multi-digit {
  width: 10em;
}

.multi-digit-number {
  text-align: right;
  letter-spacing: .5em;
}

.multi-digit-answer {
  border-top: 2px solid #000;
  height: 2em;
}

span.operand,
span.operation,
span.equal,
span.solution {
  display: inline-block;
  text-align: center;
  min-width: 28px;
  padding: 4px;
}

span.operation,
span.equal {
  width: 10px;
}

.solution-box {
  line-height: 1.5em;
  width: 3em;
  border: 1px solid grey;
  font-size: x-large;
}