body {
    display: flex;
    flex-direction: column;
    gap: clamp(24pt, 2vw, 2vw);
    padding: clamp(24pt, 2vw, 2vw);
    font-weight: bold;
    font-family: sans-serif;
}

button.card {
    font-weight: bold;
    background-color: #fff;
}

.page {
    display: flex;
    flex-direction: column;
    gap: clamp(24pt, 2vw, 2vw);
}

.page .controls {
    display: flex;
    gap: clamp(4pt, 1vw, 1vw);
    align-items: center;
}

.sentence {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(4pt, 1vw, 1vw);
}

.card, .punctuation {
    color: #888;
    font-size: clamp(24pt, 4vw, 4vw);
    border-radius: 8pt;
    padding: 12pt;
    text-align: center;
    cursor: pointer;
}

.punctuation {
    border: 0;
    background-color: #fff;
}

.card {
    border: 2px solid #666;
}

.correct {
    border-color: #3a3;
    background-color: #dfd;
}

.wrong {
    border-color: #a33;
    background-color: #fdd;
}

#main .card:hover,
.active {
    border-color: #44f;
    color: #229;
}

button, .controls div {
    font-size: clamp(20pt, 2vw, 2vw);
    min-width: clamp(40pt, 4vw, 4vw);
}

#out {
    display: flex;
    flex-direction: column;
    gap: clamp(4pt, 1vw, 1vw);
    font-size: clamp(20pt, 2vw, 2vw);
}

#out button {
    line-height: clamp(20pt, 2vw, 2vw);
}

#out .custom-sentence {
    display: flex;
    align-items: center;
    gap: 1vw;
}

*[hidden] {
    display: none;
}
